# 編譯產生的 Object 檔案
*.o
src/*/obj/*.o

# 編譯產生的執行檔
client_app
server_app
stress_client
insecure_server
malicious_client

# 暫存檔或系統檔案
.DS_Store
Thumbs.db
*.swp
*~

# 專案產生的資料檔或 Log 
*.log
*.dat
server.dat
dump_dat

# 如果有 VS Code 設定檔
.vscode/